.tabs-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

::ng-deep div.mat-mdc-tab-label-container {
  border-bottom: none;
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--color-border-border-quaternary);

    position: absolute;
    bottom: 0;
  }
  .mat-mdc-tab-list {
    z-index: 2;
  }

  .mat-mdc-tab-labels {
    gap: var(--spacing-universal-spacing-6xl, 40px);

    .mat-mdc-tab {
      text-align: center;

      /* fonts/Utility/tab */
      font-family: var(--tipografia-font-family-family-sans-heading, Poppins);
      font-size: var(--tipografia-font-size-body-body-md, 18px);
      font-style: normal;
      font-weight: 300;
      line-height: var(
        --tipografia-line-height-body-line-height-body-md,
        26px
      ); /* 144.444% */
      letter-spacing: var(--tipografia-letter-spacing-normal, 0px);

      &:hover:not(.mdc-tab--active) .mdc-tab__text-label {
        font-weight: 500;
        color: var(--color-text-text-primary, #0f385a);
        background: transparent;
      }
      //Fondo hover
      .mat-ripple-element {
        background-color: transparent;
      }
      .mdc-tab__ripple::before {
        background: transparent !important;
        opacity: 0 !important;
      }


      .mdc-tab__text-label {
        color: var(--color-text-text-primary, #0f385a);
      }
      &.mdc-tab--active .mdc-tab__text-label {
        color: var(--colores-marca-poli-magenta-alt, #e0006e) !important;
        font-weight: 600;
      }
      .mdc-tab-indicator__content--underline {
        border-color: var(--colores-marca-poli-magenta-alt, #e0006e) !important;
      }
    }
  }
}
::ng-deep .mat-mdc-tab-body {
  padding-top: 24px;
}
