.header {
  display: flex;
  max-height: 66px;
  background: var(--colores-marca-poli-azul-principal-base, #0f385a);
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  padding: var(--spacing-universal-spacing-medium, 20px)
   var(--spacing-universal-spacing-xl, 20px);
  // border-bottom: var(--spacing-border-border-medium, 2px) solid
  //   var(--colores-marca-poli-azul-claro-base, #e6effd);

  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    img {
      height: 40px; // Ajusta al tamaño del logo original
      width: auto;
      object-fit: contain;
    }
  }

  .nav-items {
    display: flex;
    align-items: center;
    gap: var(--spacing-universal-spacing-medium, 20px);
  }
}
@media screen and (max-width: 1024px) {
  .header {
    padding: var(--spacing-universal-spacing-xl, 20px)
      var(--spacing-universal-spacing-2xl, 24px);
  }
}

.arrow{
  color: var(--colores-marca-poli-azul-secundario-base);
}
