<header class="header">
  <div class="logo">
    <!-- Usa un <img> fijo para el logo institucional -->
    <img src="assets/images/logo-poli-portal.png" alt="Politécnico Grancolombiano" />
    <app-icon class="arrow" [icon]="'chevron_right'"></app-icon>
    <app-button 
      [iconStart]="portalIcon" 
      (click)="goDashboard()" 
      [type]="'secondary'" 
      [isBadge]="true" 
      [size]="'small'">
      {{ displayPortalName }}
    </app-button>
  </div>
  <nav class="nav-items">
    <ng-content></ng-content>
  </nav>

</header>