.error-container {
  text-align: center;
  padding: var(--spacing-universal-spacing-4xl, 32px);
  max-width: 600px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
    flex-direction: column;
    justify-content: center;
  ::ng-deep .mat-icon {
    font-size: 4rem;
    width: 4rem;
    height: 4rem;
  }
}
.error-icon {
  font-size: 4rem;
  color: var(--colores-marca-poli-magenta-alt, #E0006E);
  margin-bottom: 1rem;
}
.error-title { 
  color: var(--colores-marca-poli-magenta-alt, #E0006E);
  margin: 0.5rem 0;
}

.error-subtitle {
  margin: 1rem 0;
}

.error-description {  
  color: #003049;
  margin-bottom: 1rem;
}

.error-thanks {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.error-actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;  
}
