<div class="error-container">
  <div class="error-icon"><app-icon [icon]="'error'"></app-icon></div>
  
  <h1 class="error-title">Error 404</h1>
  <h3 class="error-subtitle">Página no encontrada</h3>
  <p class="error-description">
    Lo sentimos, la página que buscas no se puede encontrar.
    Por favor, verifica la dirección web o intenta buscar en nuestro sitio para encontrar lo que estás buscando.
    Si el problema persiste, por favor contáctanos para que podamos ayudarte a encontrar lo que necesitas.
  </p>
  <p class="error-thanks">¡Gracias por visitarnos!</p>

  <div class="error-actions">
    
    <app-button type="primary" size="medium" iconEnd="undo"
      (click)="submit()">
      Regresa a la página anterior
    </app-button>
    <app-button type="outline" size="medium"
      (click)="submit()">
      Volver al inicio
    </app-button>
  </div>
</div>