.switch {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: Arial, sans-serif;
}

.switch input {
  display: none;
}

/* Estilo del track */
.slider {
  position: relative;
  width: 36px;   /* antes 50px */
  height: 18px;  /* antes 26px */
  background-color: var(--colores-marca-poli-gris-dark-alt, #4F5860);
  border-radius: 18px;
  transition: background-color 0.3s;
}

/* Botón redondo */
.slider::before {
  content: "";
  position: absolute;
  height: 14px;   /* antes 20px */
  width: 14px;    /* antes 20px */
  left: 2px;
  top: 2px;
  background: white;
  border-radius: 50%;
  transition: transform 0.3s;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/* Estado activo */
input:checked + .slider {
  background-color: var(--color-accent-accent-main, #1FB2DE);
}

input:checked + .slider::before {
  transform: translateX(18px); /* ajustado a nuevo tamaño */
}

/* Texto al lado */
.label {
  font-size: 13px;
  color: #333;
}
