/* ---------- Footer ---------- */
:host {
  ::ng-deep a {
    white-space: nowrap;
    font-size: var(--tipografia-font-size-body-body-sm, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: var(
      --tipografia-line-height-body-line-height-body-sm,
      21px
    ); /* 150% */
    cursor: pointer;
  }
}
