:host {
  display: block;
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
}

.accordion__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 9px 30px 9px 24px;
  cursor: pointer;
  user-select: none;
  border-radius: 10px;
  height: var(--spacing-universal-spacing-10xl);
  background: var(--color-surface-surface-secondary, #e6effd);
  color: var(--color-text-text-primary, #0f385a);
  text-align: center;
  font-family: var(--tipografia-font-family-family-sans-heading, Poppins);
  font-size: var(--tipografia-font-size-headers-header-h6, 20px);
  font-style: normal;
  font-weight: 600;
  line-height: var(
    --tipografia-line-height-headers-line-height-header-h6,
    30px
  ); /* 150% */
  margin-top: var(--spacing-universal-spacing-xl, 20px);
}

:host(.disabled) .accordion__header {
  cursor: not-allowed;
  opacity: 0.55;
}

.accordion__title {
  flex: 2;
  text-align: left;
}

.accordion__icon {
  transition: transform 0.2s ease;
}

:host(.expanded) {
  .accordion__header {
    color: var(--color-text-text-button-light, #fff);

    background: var(--color-surface-surface-dark, #0f385a);
    .accordion__icon {
      transform: rotate(180deg);
      path {
        stroke: var(--color-text-text-button-light, #fff);
      }
    }
  }
}

.accordion__panel {
  border-radius: var(--radius-base-rounded-large, 8px);
  border: var(--spacing-border-border-xl, 4px) solid
    var(--color-surface-surface-secondary, #e6effd);
  background: var(--color-surface-surface-primary, #fff);
  display: flex;
  padding: var(--spacing-universal-spacing-6xl, 40px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-universal-spacing-xl, 20px);
  align-self: stretch;
  margin-top: 10px;
  color: var(--color-text-text-primary, #0F385A);

  animation: slideDown 0.2s ease-out forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 100vh;
  }
}
