@use "sass:map";
// Tipografia
body {
  color: var(--color-text-text-primary);
  font-family: var(--tipografia-font-family-family-sans-body);
  font-size: var(--tipografia-font-size-body-body-base, 16px);
  font-weight: var(--tipografia-font-weight-weight-regular);
  line-height: var(
    --tipografia-line-height-body-line-height-body-base,
    22px
  ); /* 137.5% */
  letter-spacing: var(--tipografia-letter-spacing-normal, 0px);
}
strong,
b {
  font-weight: var(--tipografia-font-weight-weight-bold);
}
a {
  color: var(--color-text-link-default, #36c);
  text-decoration: underline;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

//Headings
h1,
.h1 {
  font-family: var(--tipografia-font-family-family-sans-heading, Poppins);
  font-size: var(--tipografia-font-size-headers-header-h1, 48px);
  font-style: normal;
  font-weight: var(--tipografia-font-weight-weight-bold);
  line-height: var(
    --tipografia-line-height-headers-line-height-header-h1,
    60px
  ); /* 125% */
  letter-spacing: var(--tipografia-letter-spacing-normal, 0px);
}
h2,
.h2 {
  font-family: var(--tipografia-font-family-family-sans-heading, Poppins);
  font-size: var(--tipografia-font-size-headers-header-h2, 40px);
  font-style: normal;
  font-weight: var(--tipografia-font-weight-weight-bold);
  line-height: var(
    --tipografia-line-height-headers-line-height-header-h2,
    56px
  ); /* 140% */
  letter-spacing: var(--tipografia-letter-spacing-normal, 0px);
}
h3,
.h3 {
  font-family: var(--tipografia-font-family-family-sans-heading, Poppins);
  font-size: var(--tipografia-font-size-headers-header-h3, 32px);
  font-style: normal;
  font-weight: var(--tipografia-font-weight-weight-bold);
  line-height: var(
    --tipografia-line-height-headers-line-height-header-h3,
    44px
  ); /* 137.5% */
  letter-spacing: var(--tipografia-letter-spacing-normal, 0px);
}
h4,
.h4 {
  font-family: var(--tipografia-font-family-family-sans-heading, Poppins);
  font-size: var(--tipografia-font-size-headers-header-h4, 30px);
  font-style: normal;
  font-weight: var(--tipografia-font-weight-weight-bold);
  line-height: var(
    --tipografia-line-height-headers-line-height-header-h4,
    40px
  ); /* 133.333% */
  letter-spacing: var(--tipografia-letter-spacing-normal, 0px);
}
h5,
.h5 {
  font-family: var(--tipografia-font-family-family-sans-heading, Poppins);
  font-size: var(--tipografia-font-size-headers-header-h5, 24px);
  font-style: normal;
  font-weight: var(--tipografia-font-weight-weight-bold);
  line-height: var(
    --tipografia-line-height-headers-line-height-header-h5,
    32px
  ); /* 133.333% */
  letter-spacing: var(--tipografia-letter-spacing-normal, 0px);
}
h6,
.h6 {
  font-family: var(--tipografia-font-family-family-sans-heading, Poppins);
  font-size: var(--tipografia-font-size-headers-header-h6, 20px);
  font-style: normal;
  font-weight: var(--tipografia-font-weight-weight-bold);
  line-height: var(
    --tipografia-line-height-headers-line-height-header-h6,
    30px
  ); /* 150% */
  letter-spacing: var(--tipografia-letter-spacing-normal, 0px);
}
/*Clases para textos*/
.poli-cuerpo-sm {
  /* fonts/Cuerpo/sm/sm-regular */
  font-family: var(--tipografia-font-family-family-sans-body, "Open Sans");
  font-size: var(--tipografia-font-size-body-body-sm, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: var(
    --tipografia-line-height-body-line-height-body-sm,
    21px
  ); /* 150% */
  letter-spacing: var(--tipografia-letter-spacing-normal, 0px);
}
.poli-cuerpo-lg {
  /* fonts/Cuerpo/lg/lg-regular */
  font-family: var(--tipografia-font-family-family-sans-body, "Open Sans");
  font-size: var(--tipografia-font-size-body-body-lg, 20px);
  font-style: normal;
  font-weight: 400;
  line-height: var(
    --tipografia-line-height-body-line-height-body-lg,
    30px
  ); /* 150% */
  letter-spacing: var(--tipografia-letter-spacing-normal, 0px);
}
.poli-utility-info-adicional {
  /* fonts/Utility/info-adicional */
  font-family: var(--tipografia-font-family-family-sans-heading, Poppins);
  font-size: var(--tipografia-font-size-body-body-sm, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: var(
    --tipografia-line-height-body-line-height-body-sm,
    21px
  ); /* 150% */
  letter-spacing: var(--tipografia-letter-spacing-normal, 0px);
}
.poli-utility-info-adicional-2 {
  /* fonts/Utility/info-adicional-sm */
  font-family: var(--tipografia-font-family-family-sans-heading, Poppins);
  font-size: var(--tipografia-font-size-body-body-xs, 12px);
  font-style: normal;
  font-weight: 400;
  line-height: var(
    --tipografia-line-height-body-line-height-body-xs,
    16px
  ); /* 133.333% */
  letter-spacing: var(--tipografia-letter-spacing-normal, 0px);
}
.poli-utility-etiqueta-lg {
  /* fonts/Utility/etiqueta-lg */
  font-family: var(--tipografia-font-family-family-sans-heading, Poppins);
  font-size: var(--tipografia-font-size-body-body-base, 16px);
  font-style: normal;
  font-weight: 600;
  line-height: var(
    --tipografia-line-height-body-line-height-body-base,
    22px
  ); /* 137.5% */
  letter-spacing: var(--tipografia-letter-spacing-wide, 0.5px);
  text-transform: uppercase;
}
.poli-utility-etiqueta {
  /* fonts/Utility/etiqueta */
  font-family: var(--tipografia-font-family-family-sans-heading, Poppins);
  font-size: var(--tipografia-font-size-body-body-xs, 12px);
  font-style: normal;
  font-weight: 600;
  line-height: var(
    --tipografia-line-height-body-line-height-body-xs,
    16px
  ); /* 133.333% */
  letter-spacing: var(--tipografia-letter-spacing-wide, 0.5px);
  text-transform: uppercase;
}
/*Botones*/
button,
.poli-botones-button-base {
  /* fonts/Botones/button-base */
  font-family: var(--tipografia-font-family-family-sans-heading, Poppins);
  font-size: var(--tipografia-font-size-body-body-base, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: var(
    --tipografia-line-height-body-line-height-body-base,
    22px
  ); /* 137.5% */
  letter-spacing: var(--tipografia-letter-spacing-normal, 0px);
}
.poli-botones-button-link {
  text-decoration: underline;
}
.poli-botones-button-lg {
  /* fonts/Botones/button-lg */
  font-family: var(--tipografia-font-family-family-sans-heading, Poppins);
  font-size: var(--tipografia-font-size-body-body-xl, 24px);
  font-style: normal;
  font-weight: 400;
  line-height: var(
    --tipografia-line-height-body-line-height-body-lg,
    30px
  ); /* 125% */
  letter-spacing: var(--tipografia-letter-spacing-normal, 0px);
}
.poli-botones-button-sm {
  /* fonts/Botones/button-sm */
  font-family: var(--tipografia-font-family-family-sans-heading, Poppins);
  font-size: var(--tipografia-font-size-body-body-sm, 14px);
  font-style: normal;
  font-weight: 600;
  line-height: var(
    --tipografia-line-height-body-line-height-body-sm,
    21px
  ); /* 150% */
  letter-spacing: var(--tipografia-letter-spacing-normal, 0px);
}
/*Labels*/
label,
.poli-labels-label-base {
  /* fonts/Labels/label-base */
  font-family: var(--tipografia-font-family-family-sans-heading, Poppins);
  font-size: var(--tipografia-font-size-body-body-base, 16px);
  font-style: normal;
  font-weight: var(--tipografia-font-weight-weight-medium);
  line-height: var(
    --tipografia-line-height-body-line-height-body-base,
    22px
  ); /* 137.5% */
  letter-spacing: var(--tipografia-letter-spacing-normal, 0px);
}
.poli-labels-label-lg {
  /* fonts/Labels/label-lg */
  font-family: var(--tipografia-font-family-family-sans-heading, Poppins);
  font-size: var(--tipografia-font-size-body-body-lg, 20px);
  font-style: normal;
  font-weight: 400;
  line-height: var(
    --tipografia-line-height-body-line-height-body-lg,
    30px
  ); /* 150% */
  letter-spacing: var(--tipografia-letter-spacing-normal, 0px);
}
.poli-labels-label-sm {
  /* fonts/Labels/label-sm */
  font-family: var(--tipografia-font-family-family-sans-heading, Poppins);
  font-size: var(--tipografia-font-size-body-body-sm, 14px);
  font-style: normal;
  font-weight: 600;
  line-height: var(
    --tipografia-line-height-body-line-height-body-sm,
    21px
  ); /* 150% */
  letter-spacing: var(--tipografia-letter-spacing-normal, 0px);
}
/*Badges*/
.poli-badges-badge-medium {
  /* fonts/Badges/badge-medium */
  font-family: var(--tipografia-font-family-family-sans-heading, Poppins);
  font-size: var(--tipografia-font-size-body-body-sm, 14px);
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 14px */
  letter-spacing: var(--tipografia-letter-spacing-wide, 0.5px);
  text-transform: uppercase;
}
.poli-badges-badge-sm {
  /* fonts/Badges/badge-small */
  font-family: var(--tipografia-font-family-family-sans-heading, Poppins);
  font-size: var(--tipografia-font-size-body-body-xs, 12px);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: var(--tipografia-letter-spacing-normal, 0px);
  text-transform: uppercase;
}
.poli-badges-badge-lg {
  /* fonts/Badges/badge-large */
  font-family: var(--tipografia-font-family-family-sans-heading, Poppins);
  font-size: var(--tipografia-font-size-body-body-base, 16px);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: var(--tipografia-letter-spacing-wide, 0.5px);
  text-transform: uppercase;
}
.poli-badges-badge-subtext {
  /* fonts/Badges/badge-subtext */
  font-family: var(--tipografia-font-family-family-sans-heading, Poppins);
  font-size: var(--tipografia-font-size-body-body-sm, 14px);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: var(--tipografia-letter-spacing-wide, 0.5px);
  text-transform: uppercase;
}
//Sombras

$shadows: (
  subtle: var(--spacing-effects-shadow-subtle-offset-x, 0px) var(--spacing-effects-shadow-subtle-offset-y, 1px) var(--spacing-effects-shadow-subtle-blur, 2px) var(--spacing-effects-shadow-subtle-spread, 0px) var(--colores-marca-poli-azul-principal-base-10, rgba(15, 56, 90, 0.10)),
  small: var(--spacing-effects-shadow-small-offset-x, 0px) var(--spacing-effects-shadow-small-offset-y, 4px) var(--spacing-effects-shadow-small-blur, 4px) var(--spacing-effects-shadow-small-spread, 0px) var(--color-shadow-shadow-sm, rgba(15, 56, 90, 0.10)),
  medium: var(--spacing-effects-shadow-medium-offset-x, 0px) var(--spacing-effects-shadow-medium-offset-y, 0px) var(--spacing-effects-shadow-medium-blur, 16px) var(--spacing-effects-shadow-small-spread, 0px) var(--color-shadow-shadow-medium, rgba(15, 56, 90, 0.15)),
  large: var(--spacing-effects-shadow-large-offset-x, 0px) var(--spacing-effects-shadow-large-offset-y, 8px) var(--spacing-effects-shadow-large-blur, 32px) var(--spacing-effects-shadow-large-spread, 0px) var(--color-shadow-shadow-large, rgba(15, 56, 90, 0.15)),
  xl: var(--spacing-effects-shadow-xl-offset-x, 0px) var(--spacing-effects-shadow-xl-offset-y, 12px) var(--spacing-effects-shadow-xl-blur, 48px) var(--spacing-effects-shadow-xl-spread, 0px) var(--color-shadow-shadow-xl, rgba(15, 56, 90, 0.15)),
  inner: var(--spacing-effects-shadow-inner-offset-x, 0px) var(--spacing-effects-shadow-inner-offset-y, 2px) var(--spacing-effects-shadow-inner-blur, 4px) var(--spacing-effects-shadow-inner-spread, 0px) var(--color-shadow-shadow-inner, rgba(15, 56, 90, 0.10)) inset,
);

@mixin shadow($level: md) {
  // box-shadow: map-get($shadows, $level);
  box-shadow: map.get($shadows, $level) !important;
}

.shadow-subtle {
  @include shadow(subtle);
}
.shadow-small {
  @include shadow(small);
}
.shadow-medium {
  @include shadow(medium);
}
.shadow-large {
  @include shadow(large);
}
.shadow-xl {
  @include shadow(xl);
}
.shadow-inner {
  @include shadow(inner);
}

$spacings: (
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 0.75rem,
  4: 1rem,
  5: 1.25rem,
  6: 1.5rem,
);

// Mixin para generar clases de padding
@mixin generate-padding-classes {
  @each $key, $value in $spacings {
    // p-{n}
    .p-#{$key} {
      padding: $value !important;
    }

    // pt-{n}
    .pt-#{$key} {
      padding-top: $value !important;
    }

    // pr-{n}
    .pr-#{$key} {
      padding-right: $value !important;
    }

    // pb-{n}
    .pb-#{$key} {
      padding-bottom: $value !important;
    }

    // pl-{n}
    .pl-#{$key} {
      padding-left: $value !important;
    }

    // px-{n} (izquierda + derecha)
    .px-#{$key} {
      padding-left: $value !important;
      padding-right: $value !important;
    }

    // py-{n} (arriba + abajo)
    .py-#{$key} {
      padding-top: $value !important;
      padding-bottom: $value !important;
    }
  }
}

// Ejecutamos el mixin
@include generate-padding-classes;

// Mixin para generar clases de padding
@mixin generate-margin-classes {
  @each $key, $value in $spacings {
    // p-{n}
    .m-#{$key} {
      margin: $value !important;
    }

    // pt-{n}
    .mt-#{$key} {
      margin-top: $value !important;
    }

    // pr-{n}
    .mr-#{$key} {
      margin-right: $value !important;
    }

    // pb-{n}
    .mb-#{$key} {
      margin-bottom: $value !important;
    }

    // pl-{n}
    .ml-#{$key} {
      margin-left: $value !important;
    }

    // px-{n} (izquierda + derecha)
    .mx-#{$key} {
      margin-left: $value !important;
      margin-right: $value !important;
    }

    // py-{n} (arriba + abajo)
    .my-#{$key} {
      margin-top: $value !important;
      margin-bottom: $value !important;
    }
  }
}

// Ejecutamos el mixin
@include generate-margin-classes;


.poli-label-user {
  font-family: var(--tipografia-font-family-family-sans-heading, Poppins);
  font-weight: 700;
  font-style: Bold;
  font-size: var(--tipografia-font-size-body-body-sm, 14px);
  line-height: var(
    --tipografia-line-height-body-line-height-body-sm,
    21px
  ); /* 150% */
  letter-spacing: var(--tipografia-letter-spacing-normal, 0px);
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
}

.poli-cuerpo-sm.dark {
  /* fonts/Cuerpo/sm/sm-regular */
  font-family: var(--tipografia-font-family-family-sans-body, "Open Sans");
  font-size: var(--tipografia-font-size-body-body-sm, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: var(
    --tipografia-line-height-body-line-height-body-sm,
    21px
  ); /* 150% */
  letter-spacing: var(--tipografia-letter-spacing-normal, 0px);
  color: #ffffff;
}

.cursor-pointer{
  cursor: pointer;
}
