div.mdc-text-field--filled:not(.mdc-text-field--disabled),
.mdc-text-field {
  padding: 0;
  overflow: initial;
  background: transparent;
  border-radius: var(--radius-inputs-inputs-base-radius, 10px);
  .mat-mdc-form-field-focus-overlay {
    opacity: 0;
  }
  .mat-mdc-form-field-infix {
    padding: 0;
    min-height: initial;
    display: flex;
    align-items: center;
    input {
      padding: var(--spacing-universal-spacing-small, 4px)
        var(--spacing-universal-spacing-lg, 16px);
      color: var(--color-text-text-primary, #0f385a);
      min-height: var(--spacing-inputs-input-large-height);
      &::placeholder {
        color: var(--color-input-default-placeholder);
        font-size: var(--tipografia-font-size-body-body-base);
      }
    }
  }
  &:hover:not(.mdc-text-field--disabled) {
    background-color: var(--color-input-default-background, #f0f8ff);
  }
  //
  &:hover:not(:disabled) {
    border-color: var(--color-input-default-border-focused);
    background-color: var(--color-input-default-background, #f0f8ff);
  }
  //
  &:focus-visible,
  &:focus {
    outline: none;
    box-shadow: 0px 0px 0px var(--spacing-effects-focus-ring-inner-spread, 2px)
        var(--color-surface-surface-primary, #fff),
      0px 0px 0px var(--spacing-effects-focus-ring-outer-spread, 4px)
        var(--color-accent-accent-main, #1fb2de);
  }
  //Línea
  .mdc-line-ripple {
    display: none !important;
  }
}
//

.cdk-overlay-pane div.mat-mdc-select-panel,
.cdk-overlay-pane div.mat-mdc-autocomplete-panel {
  box-shadow: none !important;
  border: var(--spacing-inputs-input-large-border-width, 1px) solid
    var(--color-input-default-border, #b4d8fd);
  background: var(--color-input-default-background, #f0f8ff);
  padding: var(--spacing-universal-spacing-base, 8px);
  border-radius: var(--radius-inputs-inputs-base-radius, 10px);
  margin-top: var(--spacing-universal-spacing-base);
  .mat-mdc-option {
    min-height: var(--spacing-universal-spacing-4xl, 32px);
    padding: 0px var(--spacing-universal-spacing-base, 8px);
    border-radius: var(--radius-base-rounded, 4px);
    color: var(--color-text-text-primary);
    &.mat-mdc-option-active {
      background: var(--color-accent-accent-main-light, #4ac2e6);
    }
    &:hover {
      background: var(--colores-marca-poli-azul-claro-dark, #b4d8fd);
    }
  }
  .mdc-list-item--selected:not(.mdc-list-item--disabled):not(
      .mat-mdc-option-multiple
    ) {
    background: var(--colores-marca-poli-azul-claro-dark, #b4d8fd);

    .mdc-list-item__primary-text {
      color: var(--color-text-text-primary, #0f385a);
    }
  }
}

.mat-mdc-radio-button
  .mdc-radio__native-control:enabled:checked
  + .mdc-radio__background
  > div.mdc-radio__outer-circle,
.mat-mdc-radio-button
  .mdc-radio__native-control:enabled:checked
  + .mdc-radio__background
  > div.mdc-radio__inner-circle {
    border-color: var(--color-accent-accent-main, #1FB2DE);
}
.mat-mdc-radio-button .mdc-radio__native-control:enabled:focus:checked+.mdc-radio__background>div.mdc-radio__inner-circle, 
.mat-mdc-radio-button .mdc-radio__native-control:enabled:focus:checked+.mdc-radio__background>div.mdc-radio__outer-circle {
border-color: var(--color-accent-accent-main, #1FB2DE);
}
.mdc-checkbox__native-control:enabled:checked~div.mdc-checkbox__background, 
.mdc-checkbox__native-control:enabled:indeterminate~div.mdc-checkbox__background {
    border-color: var(--color-accent-accent-main, #1FB2DE);
    background-color:  var(--color-accent-accent-main, #1FB2DE);
}
.mdc-checkbox__native-control:focus:focus:checked~div.mdc-checkbox__background, 
.mdc-checkbox__native-control:focus:focus:indeterminate~div.mdc-checkbox__background {
    border-color: var(--color-accent-accent-main, #1FB2DE);
    background-color:  var(--color-accent-accent-main, #1FB2DE);
}
.mdc-checkbox:hover>.mdc-checkbox__native-control:checked~div.mdc-checkbox__background, 
.mdc-checkbox:hover>.mdc-checkbox__native-control:indeterminate~div.mdc-checkbox__background {
    border-color: var(--color-accent-accent-main, #1FB2DE);
    background-color:  var(--color-accent-accent-main, #1FB2DE);
}
.mat-mdc-radio-button div.mat-internal-form-field,
.mat-mdc-checkbox div.mat-internal-form-field {
  color: var(--color-text-text-primary, #0f385a);
  label {
    padding: 0;
  }
}
