/* Tokens - Light */
:root {
  --color-text-text-primary: var(--colores-marca-poli-azul-principal-base);
  --color-text-text-secondary: var(--colores-marca-poli-azul-secundario-alt);
  --color-text-text-tertiary: var(--colores-utility-bruma-500);
  --color-text-text-button-light: var(--colores-utility-base-white-1000);
  --color-text-text-button-dark: var(--colores-marca-poli-azul-principal-base);
  --color-text-text-badge-light: var(--colores-utility-base-white-1000);
  --color-text-text-badge-dark: var(--colores-marca-poli-azul-principal-base);
  --color-text-text-badge-warning: var(--color-text-text-badge-light);
  --color-text-text-badge-danger: var(--color-text-text-badge-light);
  --color-text-text-badge-success: var(--color-text-text-badge-light);
  --color-text-text-badge-info: var(--color-text-text-badge-light);
  --color-text-text-button-disabled: var(--colores-marca-poli-gris-dark-alt);
  --color-text-text-button-blank-dark: var(--colores-marca-poli-azul-principal-base);
  --color-text-text-destructive: var(--colores-marca-poli-magenta-alt);
  --color-text-text-accent-red: var(--colores-marca-poli-magenta-alt);
  --color-text-text-accent-orange: var(--colores-marca-poli-amarillo-dark);
  --color-text-text-accent-yellow: var(--colores-marca-poli-amarillo-base);
  --color-text-text-accent-green: var(--colores-marca-poli-verde-base);
  --color-text-text-accent-blue: var(--colores-marca-poli-cian-dark);
  --color-text-text-accent-violet: var(--colores-marca-poli-magenta-dark);
  --color-text-text-invert: var(--colores-utility-bruma-100);
  --color-text-link-default: var(--colores-estados-link);
  --color-text-link-visited: var(--colores-marca-poli-magenta-dark);
  --color-button-primary-button-primary-default: var(--colores-marca-poli-azul-principal-base);
  --color-badge-badge-bright-dark: var(--colores-marca-poli-azul-principal-base);
  --color-badge-badge-bright-light: var(--colores-marca-poli-gris-base);
  --color-badge-badge-bright-warning: var(--colores-marca-poli-amarillo-base);
  --color-badge-badge-bright-danger: var(--colores-marca-poli-magenta-alt);
  --color-badge-badge-bright-success: var(--colores-marca-poli-verde-base);
  --color-badge-badge-bright-info: var(--colores-marca-poli-cian-base);
  --color-button-primary-button-primary-hover: var(--colores-marca-poli-azul-principal-light);
  --color-button-primary-button-primary-pressed: var(--colores-marca-poli-azul-principal-light);
  --color-button-primary-button-primary-disabled: var(--colores-marca-poli-gris-alt);
  --color-button-primary-button-primary-stroke: var(--colores-marca-poli-azul-principal-base);
  --color-button-success-button-success-default: var(--colores-marca-poli-verde-base);
  --color-button-success-button-success-hover: var(--colores-marca-poli-verde-light);
  --color-button-success-button-success-pressed: var(--colores-marca-poli-verde-light);
  --color-button-success-button-success-disabled: var(--colores-marca-poli-verde-base-10);
  --color-button-success-button-success-stroke: var(--colores-marca-poli-verde-dark);
  --color-button-flat-button-flat-default: var(--colores-marca-poli-azul-claro-base);
  --color-button-flat-button-flat-hover: var(--colores-marca-poli-azul-claro-dark);
  --color-button-flat-button-flat-pressed: var(--colores-marca-poli-azul-claro-dark);
  --color-button-flat-button-flat-disabled: var(--colores-marca-poli-gris-base);
  --color-button-destructive-button-destructive-default: var(--colores-marca-poli-magenta-base);
  --color-button-destructive-button-destructive-hover: var(--colores-marca-poli-magenta-light);
  --color-button-destructive-button-destructive-pressed: var(--colores-marca-poli-magenta-light);
  --color-button-destructive-button-destructive-stroke: var(--colores-marca-poli-magenta-dark);
  --color-button-destructive-button-destructive-outline-stroke: var(--colores-marca-poli-magenta-dark);
  --color-button-destructive-button-destructive-disabled: var(--colores-marca-poli-magenta-base-10);
  --color-button-secondary-button-secondary-default: var(--colores-marca-poli-azul-secundario-base);
  --color-button-secondary-button-secondary-hover: var(--colores-marca-poli-azul-secundario-light);
  --color-button-secondary-button-secondary-pressed: var(--colores-marca-poli-azul-secundario-light);
  --color-button-secondary-button-secondary-disabled: var(--colores-marca-poli-gris-alt);
  --color-button-secondary-button-secondary-stroke: var(--colores-marca-poli-azul-secundario-dark);
  --color-button-outline-button-outline-default: var(--colores-utility-base-white-0);
  --color-button-outline-button-outline-hover: var(--colores-marca-poli-azul-secundario-base);
  --color-button-outline-button-outline-pressed: var(--colores-marca-poli-azul-secundario-base);
  --color-button-outline-button-outline-disabled: var(--colores-marca-poli-gris-base);
  --color-button-outline-button-outline-stroke: var(--colores-marca-poli-azul-principal-base);
  --color-button-ghost-button-ghost-default: var(--colores-utility-base-white-50);
  --color-button-ghost-button-ghost-hover: var(--colores-utility-bruma-50);
  --color-button-ghost-button-ghost-pressed: var(--colores-utility-bruma-100);
  --color-button-ghost-button-ghost-disabled: var(--colores-utility-bruma-300);
  --color-button-ghost-button-ghost-dark-default: var(--colores-utility-base-black-50);
  --color-button-ghost-button-ghost-dark-hover: var(--colores-utility-bruma-900);
  --color-button-ghost-button-ghost-dark-pressed: var(--colores-utility-bruma-950);
  --color-button-ghost-button-ghost-dark-disabled: var(--colores-utility-bruma-700);
  --color-surface-surface-primary: var(--colores-utility-base-white-1000);
  --color-surface-surface-secondary: var(--colores-marca-poli-azul-claro-base);
  --color-input-default-background: var(--colores-marca-poli-azul-claro-light);
  --color-input-default-placeholder: var(--colores-utility-bruma-500);
  --color-input-default-border: var(--colores-marca-poli-azul-claro-dark);
  --color-input-default-border-dark: var(--colores-marca-poli-azul-principal-base);
  --color-input-default-border-focused: var(--colores-marca-poli-azul-secundario-base);
  --color-surface-surface-tertiary: var(--colores-utility-bruma-50);
  --color-surface-surface-quaternary: var(--colores-utility-bruma-100);
  --color-surface-surface-quinary: var(--colores-utility-bruma-200);
  --color-surface-surface-senary: var(--colores-utility-bruma-300);
  --color-surface-surface-invert: var(--colores-utility-bruma-900);
  --utilities-light-dark-wireframe: Light Mode;
  --color-surface-surface-dark: var(--colores-marca-poli-azul-principal-base);
  --color-surface-surface-table-row-hover: var(--colores-utility-bruma-50);
  --color-surface-surface-table-row-active: var(--colores-utility-bruma-100);
  --color-surface-surface-table-column-active: var(--colores-utility-bruma-100);
  --color-surface-surface-table-row-delete: var(--colores-marca-poli-magenta-base-10-solid);
  --color-surface-surface-table-header: var(--colores-marca-poli-azul-claro-base);
  --color-surface-surface-top-nav: var(--colores-marca-poli-azul-principal-base);
  --color-surface-surface-panel-primary: var(--color-surface-surface-primary);
  --color-surface-surface-panel-info: var(--colores-marca-poli-cian-base-10-solid);
  --color-surface-surface-panel-success: var(--colores-marca-poli-verde-base-10-solid);
  --color-surface-surface-panel-warning: var(--colores-marca-poli-amarillo-base-10-solid);
  --color-surface-surface-panel-danger: var(--colores-marca-poli-magenta-base-10-solid);
  --color-input-disabled-background: var(--colores-marca-poli-gris-alt);
  --color-input-disabled-border: var(--colores-marca-poli-gris-dark-alt);
  --color-input-disabled-placeholder: var(--colores-marca-poli-gris-dark-alt);
  --color-border-border-primary: var(--colores-utility-bruma-700);
  --color-border-border-secondary: var(--colores-utility-bruma-500);
  --color-border-border-tertiary: var(--colores-utility-bruma-300);
  --color-border-border-quaternary: var(--colores-utility-bruma-100);
  --color-border-border-quinary: var(--colores-utility-bruma-200);
  --color-border-border-senary: var(--colores-utility-base-white-1000);
  --color-border-border-subtle: var(--colores-marca-poli-gris-base);
  --color-border-border-brand-subtle: var(--colores-marca-poli-azul-claro-base);
  --color-border-border-accent-main: var(--colores-marca-poli-azul-secundario-base);
  --color-border-border-accent-secondary: var(--colores-marca-poli-azul-secundario-dark);
  --color-border-border-accent-red: var(--colores-marca-poli-magenta-base);
  --color-border-border-accent-orange: var(--colores-marca-poli-amarillo-dark);
  --color-border-border-accent-yellow: var(--colores-marca-poli-amarillo-base);
  --color-border-border-accent-green: var(--colores-marca-poli-verde-base);
  --color-border-border-accent-blue: var(--colores-marca-poli-azul-secundario-dark);
  --color-border-border-accent-violet: var(--colores-marca-poli-magenta-dark);
  --spacing-universal-spacing-none: var(--escala-0);
  --spacing-universal-spacing-px: var(--escala-px);
  --spacing-universal-spacing-xs: var(--escala-0-5);
  --spacing-universal-spacing-small: var(--escala-1);
  --spacing-universal-spacing-1-5: var(--escala-1-5);
  --spacing-universal-spacing-base: var(--escala-2);
  --spacing-universal-spacing-medium: var(--escala-3);
  --spacing-universal-spacing-lg: var(--escala-4);
  --spacing-universal-spacing-xl: var(--escala-5);
  --spacing-universal-spacing-2xl: var(--escala-6);
  --spacing-universal-spacing-3xl: var(--escala-7);
  --spacing-universal-spacing-4xl: var(--escala-8);
  --spacing-universal-spacing-5xl: var(--escala-9);
  --spacing-universal-spacing-6xl: var(--escala-10);
  --spacing-universal-spacing-7xl: var(--escala-11);
  --spacing-universal-spacing-8xl: var(--escala-12);
  --spacing-universal-spacing-9xl: var(--escala-14);
  --spacing-universal-spacing-10xl: var(--escala-16);
  --spacing-universal-spacing-20: var(--escala-20);
  --spacing-universal-spacing-24: var(--escala-24);
  --spacing-universal-spacing-28: var(--escala-28);
  --color-border-border-form-element-primary: var(--color-border-border-tertiary);
  --spacing-universal-spacing-32: var(--escala-32);
  --spacing-universal-spacing-36: var(--escala-36);
  --spacing-universal-spacing-40: var(--escala-40);
  --spacing-universal-spacing-44: var(--escala-44);
  --spacing-universal-spacing-48: var(--escala-48);
  --spacing-universal-spacing-52: var(--escala-52);
  --spacing-universal-spacing-56: var(--escala-56);
  --spacing-universal-spacing-60: var(--escala-60);
  --spacing-universal-spacing-64: var(--escala-64);
  --spacing-universal-spacing-72: var(--escala-72);
  --spacing-button-button-large-border-width: var(--escala-0-5);
  --color-border-border-form-element-hover: var(--color-border-border-primary);
  --spacing-universal-spacing-80: var(--escala-80);
  --spacing-button-button-medium-border-width: var(--escala-0-5);
  --spacing-button-button-small-border-width: var(--escala-px);
  --spacing-universal-spacing-96: var(--escala-96);
  --color-border-border-badge: var(--colores-utility-base-black-100);
  --spacing-button-button-small-horizontal-gap: var(--escala-1);
  --spacing-button-button-medium-horizontal-gap: var(--escala-1-5);
  --spacing-button-button-large-horizontal-gap: var(--escala-2);
  --spacing-button-button-small-horizontal-padding: var(--escala-4);
  --spacing-button-button-medium-horizontal-padding: var(--escala-5);
  --spacing-button-button-large-horizontal-padding: var(--escala-7);
  --spacing-button-button-small-height: var(--escala-8);
  --spacing-inputs-toggle-small-width: var(--escala-8);
  --spacing-inputs-toggle-medium-width: var(--escala-10);
  --spacing-inputs-toggle-large-width: var(--escala-14);
  --spacing-inputs-toggle-small-border-width: var(--escala-px);
  --spacing-inputs-toggle-medium-border-width: var(--escala-px);
  --spacing-inputs-toggle-large-border-width: var(--escala-px);
  --spacing-inputs-input-large-border-width: var(--escala-px);
  --spacing-inputs-input-medium-border-width: var(--escala-px);
  --spacing-inputs-input-large-height: var(--escala-10);
  --spacing-inputs-input-md-height: var(--escala-8);
  --spacing-effects-shadow-subtle-offset-x: var(--escala-0);
  --spacing-effects-shadow-subtle-offset-y: var(--escala-px);
  --spacing-effects-shadow-subtle-blur: var(--escala-0-5);
  --spacing-effects-shadow-subtle-spread: var(--escala-0);
  --spacing-effects-shadow-small-offset-x: var(--escala-0);
  --spacing-effects-shadow-small-offset-y: var(--escala-1);
  --spacing-effects-shadow-small-blur: var(--escala-1);
  --spacing-effects-shadow-small-spread: var(--escala-0);
  --spacing-effects-shadow-medium-offset-x: var(--escala-0);
  --spacing-effects-shadow-medium-offset-y: var(--escala-0);
  --spacing-effects-shadow-medium-blur: var(--escala-4);
  --spacing-effects-shadow-medium-spread: var(--escala-0);
  --spacing-effects-shadow-large-offset-x: var(--escala-0);
  --spacing-effects-shadow-large-offset-y: var(--escala-2);
  --spacing-effects-shadow-large-blur: var(--escala-8);
  --spacing-effects-shadow-large-spread: var(--escala-0);
  --spacing-effects-shadow-xl-offset-x: var(--escala-0);
  --spacing-effects-shadow-xl-offset-y: var(--escala-3);
  --spacing-effects-shadow-xl-blur: var(--escala-12);
  --spacing-effects-shadow-xl-spread: var(--escala-0);
  --spacing-effects-shadow-inner-offset-x: var(--escala-0);
  --spacing-effects-shadow-inner-offset-y: var(--escala-0-5);
  --spacing-effects-shadow-inner-blur: var(--escala-1);
  --spacing-effects-shadow-inner-spread: var(--escala-0);
  --spacing-effects-background-blur-small: var(--escala-2);
  --spacing-effects-background-blur-medium: var(--escala-3);
  --spacing-effects-background-blur-large: var(--escala-5);
  --spacing-effects-background-blur-xl: var(--escala-10);
  --spacing-effects-focus-ring-inner-spread: var(--escala-0-5);
  --spacing-effects-focus-ring-outer-spread: var(--escala-1);
  --spacing-button-button-medium-height: var(--escala-10);
  --spacing-button-button-large-height: var(--escala-14);
  --spacing-border-border-none: var(--escala-0);
  --spacing-border-border-small: var(--escala-px);
  --spacing-border-border-medium: var(--escala-0-5);
  --spacing-border-border-large: var(--escala-3-4);
  --spacing-border-border-xl: var(--escala-1);
  --radius-button-button-small-radius: var(--escala-1138);
  --radius-button-button-medium-radius: var(--escala-1138);
  --radius-button-button-large-radius: var(--radius-base-rounded-full);
  --radius-badge-badge-small-radius: var(--escala-1);
  --radius-badge-badge-medium-radius: var(--escala-1);
  --radius-badge-badge-large-radius: var(--escala-1-5);
  --radius-base-rounded-none: var(--escala-0);
  --radius-base-rounded-small: var(--escala-0-5);
  --radius-base-rounded: var(--escala-1);
  --spacing-badge-badge-rectangle-large-height: var(--escala-7-5);
  --spacing-badge-badge-rectangle-medium-height: var(--escala-6);
  --radius-base-rounded-medium: var(--escala-1-5);
  --spacing-badge-badge-rectangle-small-height: var(--escala-5);
  --radius-base-rounded-large: var(--escala-2);
  --spacing-badge-badge-rectangle-large-horizontal-padding: var(--escala-2);
  --spacing-badge-badge-rectangle-medium-horizontal-padding: var(--escala-2);
  --spacing-badge-badge-rectangle-small-horizontal-padding: var(--escala-1-5);
  --spacing-badge-badge-rectangle-large-horizontal-gap: var(--escala-2);
  --spacing-badge-badge-rectangle-medium-horizontal-gap: var(--escala-1);
  --spacing-badge-badge-rectangle-small-horizontal-gap: var(--escala-1);
  --spacing-badge-badge-dot-small-width: var(--escala-2);
  --spacing-badge-badge-dot-small-height: var(--escala-2);
  --spacing-badge-badge-dot-medium-width: var(--escala-3);
  --spacing-badge-badge-dot-medium-height: var(--escala-3);
  --spacing-badge-badge-dot-large-width: var(--escala-4);
  --spacing-badge-badge-dot-lg-height: var(--escala-4);
  --spacing-badge-badge-dot-xl-width: var(--escala-6);
  --spacing-badge-badge-dot-xl-height: var(--escala-6);
  --spacing-badge-badge-outer-border-spread: var(--escala-3-4);
  --spacing-badge-badge-border: var(--escala-px);
  --radius-inputs-inputs-base-radius: var(--escala-2-5);
  --radius-inputs-inputs-rounded-radius: var(--radius-base-rounded-full);
  --radius-base-rounded-xl: var(--escala-3);
  --radius-base-rounded-2xl: var(--escala-4);
  --radius-base-rounded-3xl: var(--escala-6);
  --radius-base-rounded-full: var(--escala-1138);
  --color-accent-accent-main: var(--colores-marca-poli-azul-secundario-base);
  --color-shadow-shadow-subtle: var(--colores-marca-poli-azul-principal-base-10);
  --color-shadow-shadow-sm: var(--colores-marca-poli-azul-principal-base-10);
  --color-shadow-shadow-medium: var(--colores-marca-poli-azul-principal-base-15);
  --color-shadow-shadow-large: var(--colores-marca-poli-azul-principal-base-15);
  --color-shadow-shadow-xl: var(--colores-marca-poli-azul-principal-base-15);
  --color-shadow-shadow-inner: var(--colores-marca-poli-azul-principal-base-10);
  --color-accent-accent-main-light: var(--colores-marca-poli-azul-secundario-light);
  --color-accent-accent-main-dark: var(--colores-marca-poli-azul-secundario-dark);
  --color-accent-accent-main-transparent: var(--colores-marca-poli-azul-principal-base-10);
  --color-accent-accent-secondary: var(--colores-marca-poli-azul-secundario-alt);
  --color-accent-accent-secondary-transparent: var(--colores-marca-poli-azul-secundario-light);
  --color-accent-accent-destructive: var(--colores-marca-poli-magenta-base-10);
  --color-accent-accent-gray-light: var(--colores-utility-bruma-50);
  --color-accent-accent-gray-dark: var(--colores-marca-poli-gris-dark);
  --spacing-button-button-cta-height: 90px;
}
