:host {
  font-family: 'Material Symbols'; // O 'Material Icons'
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.material-symbols-rounded {
  
  font-variation-settings:
    'FILL' 0,   // 0 = contorno; 1 = rellenado
    'wght' 400, // peso Regular
    'GRAD' 0,   // grosor óptico
    'opsz' 24;  // tamaño óptico
}
.app-icon {
  color: inherit;
}
.custom-icon-size {
  width: initial;
  height: initial;
}