<div class="flexible-modal-backdrop" (click)="onBackdropClick()" *ngIf="visible"></div>

<!-- Botón de cerrar flotante por fuera del modal - SOLO para full-width -->
<div class="close-container-outside" *ngIf="showCloseButton && visible && size === 'full-width'">
  <app-button type="flat" size="small" iconStart="close" (click)="close()" [attr.aria-label]="closeButtonText">
    {{ closeButtonText }}
  </app-button>
</div>

<div class="flexible-modal-container" [ngClass]="'size-' + size" (click)="onContainerClick($event)" *ngIf="visible"
  role="dialog" aria-modal="true">

  <!-- Botón de cerrar interno - para todos los tamaños EXCEPTO full-width -->
  <div class="close-container" *ngIf="showCloseButton && size !== 'full-width'">
    <app-button type="ghost" size="small" iconStart="close" (click)="close()" [attr.aria-label]="closeButtonText">
      {{ closeButtonText }}
    </app-button>
  </div>
  <div class="modal-content">
    <div *ngIf="title">
      <h4 class="m-0 mb-4">{{ title }}</h4>
    </div>
    <ng-content></ng-content>
  </div>


</div>