<div class="alert" [ngClass]="[type, size]" role="alert">
    <!-- Icon (solo medium & large) -->
    <div class="alert__icon">
        <app-icon [icon]="icon"></app-icon>
    </div>

    <!-- Contenido principal -->
    <div class="alert__body">
        <!-- Título (solo medium & large) -->
        <div class="alert__info">
            <h6 *ngIf="hasTitle" class="alert__title">{{ title }}</h6>

            <!-- Descripción (siempre) -->
            <p class="alert__description">{{ description }}</p>
        </div>
        <!-- Botones de acción (opcionales, solo medium & large) -->
        <div *ngIf="hasActions" class="alert__actions">
            <app-button *ngIf="secondaryLabel" type="outline" [size]="size === 'large' ? 'medium' : 'small'">
                {{ secondaryLabel }}
            </app-button>
            <app-button *ngIf="primaryLabel" type="primary" [size]="size === 'large' ? 'medium' : 'small'">
                {{ primaryLabel }}
            </app-button>
        </div>
    </div>

    <!-- Botón cerrar -->
    <button *ngIf="closable" type="button" class="alert__close" (click)="closed.emit()" aria-label="Cerrar alerta">
        &times;
        <span *ngIf="size == 'large'">Cerrar</span>
    </button>
</div>