<!-- ╔══════════ HEADER (MAIN) ══════════╗ -->
<header class="main-header" [ngClass]="{'open': isOpen()}">
    <img class="logo" [src]="isOpen() && logoLightSrc ? logoLightSrc : logoSrc" alt="Logo Poli" />

    <nav class="header-actions">
        <!-- Otros ítems definidos por el desarrollador -->
        <ng-container *ngFor="let item of headerItems">
            <app-header-nav-item [ruta]="item.route" [icon]="item.icon" [texto]="item.label" [children]="item.children"></app-header-nav-item>
        </ng-container>

        <!-- Botón hamburguesa / cerrar -->
        <button type="button" class="burger" aria-label="Menú" (click)="toggle()">

            <!-- Botón hamburguesa -->
            <a class="mobile-nav-item" *ngIf="!isOpen()">
                <span class="icon">
                    <app-icon icon="dehaze"></app-icon>
                </span>
                <span class="texto poli-utility-info-adicional-2">Menú</span>
            </a>

            <a class="mobile-nav-item" *ngIf="isOpen()">
                <span class="icon close-menu">
                    <app-icon icon="close"></app-icon>
                </span>
                <span class="texto poli-utility-info-adicional-2">Cerrar</span>
            </a>

        </button>
    </nav>
</header>

<!-- OVERLAY + PANEL -->
<div class="overlay" *ngIf="isOpen()" (click)="close()"></div>

<aside class="side-panel">
    <div class="side-panel-inner">
        <!-- Header dentro del panel -->
        <div class="panel-head">
            <h2 *ngIf="appTitle">{{ appTitle }}</h2>
            <p class="subtitle" *ngIf="appSubtitle">{{ appSubtitle }}</p>
        </div>

        <!-- Menú principal -->
        <nav class="panel-menu">

            <app-header-nav-item *ngFor="let item of menuItems" [ruta]="item.route" [icon]="item.icon" [texto]="item.label" size="large" [children]="item.children"></app-header-nav-item>
        </nav>

        <!-- Links secundarios -->
        <footer class="panel-footer" *ngIf="footerLinks?.length">
            <!-- <a routerLink="/privacidad" class="link">Política de privacidad</a><br />
            <a routerLink="/terminos" class="link">Términos y condiciones</a> -->
        </footer>
    </div>
</aside>