<aside class="side-container">
  <div class="desktop-nav-container">
    <app-sidenav 
      [title]="processName()" 
      [items]="sidebarMenu()"
      [headerIcon]="processIcon()"
      [headerBadgeStatus]="'info'">
      <!-- Contenido para el footer -->
      <ng-container sidenav-footer>
        <app-page-footer></app-page-footer>
      </ng-container>
    </app-sidenav>
  </div>
  <div class="mobile-nav-container">
    <app-mobile-nav-portals
      portalLogoSrc="assets/images/logo-poli-portal.png"
      [appIcon]="processIcon()"
      [appName]="processName()"
      appBadgeStatus="info"
      appBadgeRoute="/cpo/home"
      [showUserAvatar]="false"
      [menuItems]="sidebarMenu()"
      [footerLinks]="legalLinks">
    </app-mobile-nav-portals>
  </div>
</aside>
