.cta-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
  height: var(--spacing-button-button-cta-height, 90px);
  max-width: 840px;
  padding: 25px var(--spacing-universal-spacing-9xl, 56px) 25px 104px;
  border: none;
  border-radius: 50px;
  background: var(--Poli-Gradient-Azul, linear-gradient(91deg, #1FB2DE 0%, #0F385A 100%));
  color: #fff;
  cursor: pointer;
  box-sizing: border-box;
  transition: background ease-in-out .8s;

  .cta-text {
    flex: 1 1 auto;
    text-align: center;
    margin: 0;
  }
  .cta-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;

    ::ng-deep .mat-icon {
      font-size: 40px;
      width: 56px;
      height: 56px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--colores-marca-poli-azul-secundario-base);
    }
  }

  &:hover {
    background: var(--Poli-Gradient-Magenta, linear-gradient(91deg, #EB0677 0%, #420194 100%));

    .cta-icon ::ng-deep .mat-icon {
      color: var(--colores-marca-poli-magenta-base)
    }
  }
}
