<span
  class="badge"
  [ngClass]="badgeClasses"
  [style.backgroundColor]="customBackgroundColor"
  [style.color]="customTextColor"
>
  <!-- Icono inicial (opcional) -->
  <span *ngIf="iconStart" class="badge__icon badge__icon--start">
    <app-icon [icon]="iconStart" [size]="getIconSize()"></app-icon>
  </span>

  <!-- Contenido dinámico -->
  <span *ngIf="text" class="badge__label">{{ text }}</span>

  <!-- Icono final (opcional) -->
  <span *ngIf="iconEnd" class="badge__icon badge__icon--end">
    <app-icon [icon]="iconEnd" [size]="getIconSize()"></app-icon>
  </span>
</span>
