<div class="form-input">
  <label *ngIf="label" class="form-input__label" [for]="fieldID">
    <span class="form-input__label-text">{{ label }}</span>
    <span *ngIf="required" class="form-input__required-tag">*</span>
    <span *ngIf="tooltip" class="form-input__tooltip" [attr.title]="tooltip">
      <app-icon icon="help"></app-icon>
    </span>
  </label>
  <div class="form-input__control">
    <mat-form-field class="autocomplete-full-width">
    <input type="text" matInput [id]="fieldID" [placeholder]="placeholder" [formControl]="myControl"
      [matAutocomplete]="auto" class="form-input__field"/>

    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
      @for (option of filteredOptions | async; track option) {
      <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
  </div>
  
</div>